.displayTask {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  max-width: 500px;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid rgba(0, 128, 0, 0.62);
}

.displayTaskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displayTaskHeader h2 {
  padding: 0px;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.displayTask p {
  margin: 0px;
  font-size: 20px;
  padding-top: 10px;
}
